# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.env

# Project Specific Artifacts
maze.txt
error.txt
error.log
final_maze.txt
result.txt

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
